.homeBackgroundContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 0.25rem;
}

.homeBackgroundContainer img {
  width: 20rem;
}

@media (min-width: 800px) {
  .homeBackgroundContainer > img {
    width: 40rem;
    margin-top: 10rem;
    margin-right: 25rem;
  }
}
